# HiveMQ Cloud Credentials
# Ganti dengan nilai dari https://console.hivemq.cloud

# HiveMQ Cloud Cluster Details
HIVEMQ_HOST=xxx.s1.eu.hivemq.cloud
HIVEMQ_PORT=8883
HIVEMQ_USERNAME=railway-dashboard
HIVEMQ_PASSWORD=password-yang-anda-buat

# Broker Internal PJB (tidak berubah)
BROKER_PJB_URL=mqtt://mqtt-cleen.ptpjb.com
BROKER_PJB_PORT=1883
BROKER_PJB_USERNAME=bbtk
BROKER_PJB_PASSWORD=ebtbbtk@PJB

# Topic subscription
MQTT_TOPIC=KPPJBS/PLTD_Suppa/#
